
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li a.color{
 color: black;
}

ul li a.color:hover{
    color: rgb(182, 176, 176);
}
.header-bottom{
	background:#efeff1;
    height: 300px;
}
ul li{
    padding-top: 10px;
}
.color1{
    color: black;
    padding-top: 77px;
}
.color2{
    font-size: 1.25rem;
}

.list-product-title{
	width: 100%;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 5px;
}
.footer{
    background-color: black;
    height: 200px;
}

.col-style{
    padding-left: 0px;
    padding-right: 0px;
}
ul.col-02{
    padding-left: 15%;
}
ul.col-01{
    padding-left: 60%;
}
ul.col-03{
    padding-left: 45%;
}
ul.col-04{
    text-align: right;
}
ul li a.col-p{
    padding-right: 39px;
}
.text-01{
    padding-left: 40%;
}
.table-01{
    margin-top: 13px;
}
.con-all{
    padding-top: 21px;
}
